.form-check{
  float: right;
}
.text1-black{
  color: white;

}.text1-light{
  color: black;
}
nav{
  padding: 10px;
  box-shadow: 0 8px 6px -6px blue;
  /* border-bottom: 0.8px solid red; */
  height: 50px;
  text-transform: capitalize;
  
}
.light{
  background-color: white;
  color: black;
}
.dark{
  background-color: black;
  color: white;
}


.link{
  margin: 10px;
  text-decoration: none;
  margin-right: 20px;
  border-bottom: 0.5px solid white;
}

/* :active{ */
  /* border-bottom: 0.5px solid white; */
  
/* } */